@import "colors";

atom-text-editor {
  background-color: @heavy-metal;
  color: @gray-silver;

  .gutter {
    .line-number {
      &.cursor-line {
        background-color: @gray-armadillo;
        color: @very-light-gray;
      }

      &.cursor-line-no-selection {
        color: @very-light-gray;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @light-gray;
  }

  .line.cursor-line {
    background-color: @gray-armadillo;
  }

  .selection .region {
    background-color: @gray-armadillo;
  }

  .wrap-guide {
    background-color: @gray-armadillo;
  }
}

.syntax--comment {
  color: @brown-crocodile;
}

//
// Syntax Styling
//
.syntax--control,
.syntax--operator.syntax--assignment,
.syntax--operator,
.syntax--default {
  color: @orange-ochre;
}

.syntax--delimiter {
  &.syntax--method,
  &.syntax--property {
    color: @orange-ochre;
  }
}

.syntax--variable {
  &.syntax--parameter.syntax--function  {
    color: @orange-ochre;
  }
}

.syntax--storage {
  color: @blue-shakespeare;

  &.syntax--modifier {
    color: @orange-ochre;
  }
}

.syntax--dom,
.syntax--name {
  color: @blue-shakespeare;
}

.syntax--dom {
  &.syntax--property {
    color: @gray-silver;
  }
}

.syntax--parameters,
.syntax--array {
  color: @gray-silver;
}

.syntax--boolean,
.syntax--numeric,
.syntax--null,
.syntax--regexp {
  color: @purple;
}

.syntax--string {
  color: @yellow-laser;
}

.syntax--function {
  color: @green;

  &.syntax--begin,
  &.syntax--end {
    color: @gray-silver;
  }

  &.syntax--storage,
  &.syntax--arrow {
    color: @blue-shakespeare;
  }
}

//
// Handlebars/Template Styling
//
.syntax--mustache > .syntax--mustache {
  color: @orange-ochre;
}

.syntax--mustache {
  &.syntax--function {
    color: @orange-ochre;
  }
}

.syntax--meta {
  &.syntax--block {
    color: @orange-ochre;
  }
}

.syntax--tag.syntax--name.syntax--entity {
  color: @blue-shakespeare;
}

.syntax--unquoted,
.syntax--tag.syntax--inline {
  color: @orange-ochre;
}

.syntax--tag.syntax--end,
.syntax--tag.syntax--begin {
  color: @gray-silver;
}

.syntax--attribute-name {
  color: @green;
}

.syntax--punctuation.syntax--entity,
.syntax--name.syntax--entity.syntax--other {
  color: @purple;
}

//
// CSS Stylesheets Styling
//
.syntax--css {
  &.syntax--punctuation {
    color: @green;
  }

  &.syntax--property-name,
  &.syntax--constant {
    color: @blue-shakespeare;
  }

  &.syntax--operator {
    color: @purple;
  }
}

.syntax--scss {
  &.syntax--keyword {
    color: @orange-ochre;
  }

  &.syntax--attribute-name,
  &.syntax--section,
  &.syntax--variable {
    color: @gray-silver;
  }

  &.syntax--misc,
  &.syntax--property-value {
    color: @blue-shakespeare;
  }
}

//
// Python Styling
//
.syntax--python {
  &.syntax--entity {
    &.syntax--class {
      color: @green;
    }

    &.syntax--inherited-class {
      color: @green;
    }
  }

  &.syntax--constant {
    color: @purple;
  }
}

//
// JSON Styling
//
.syntax--json {
  &.syntax--constant {
    color: @purple;
  }
}
